<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{ base :: layout(~{::title} , ~{::section} ) }">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
</head>
<body>
<section class="heroElement">
    <div class="hero">
        <div class="hero-section">
            <h1 class="section-title">The Best Program to <span>Enroll</span> for Exchange</h1>
            <p class="hero-text">
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit.
            </p>
            <div class="center"><button class="find-course-btn"><a href="/loginPage">Find Cources</a></button></div>
        </div>
        <div class="image-section">
            <img src="/img/hero.png" alt="No Img Found" class="hero-img"/>
        </div>
    </div>
</section>
</body>
</html>