<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ base :: layout(~{::title} , ~{::section} ) }" >
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
</head>
<body>
    <section class="heroElement">
        <div class="form-popup">
            <div class="form-box login">
                <div class="form-details">
                    <h2>Welcome Back</h2>
                    <p>Please log in using your personal information to stay connected with us.</p>
                </div>
                <div class="form-content">
                    <h2>LOGIN</h2>
                    <th:block th:if="${param.error}">
                        <p class="text-center text-danger fs-5 error-msg" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION != null ? session.SPRING_SECURITY_LAST_EXCEPTION.message : 'Unknown error'}"></p>
                    </th:block>

                    <th:block th:if="${param.logout}">
                        <p class="text-center text-success fs-5 success-msg">Logout sucessfully</p>
                    </th:block>
                    <form action="login" method="post">
                        <div class="input-field">
                            <input type="text" name="username" required >
                            <label>Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" required>
                            <label>Password</label>
                        </div>
                        <a href="#" class="forgot-pass-link">Forgot password?</a>
                        <button type="submit">Log In</button>
                    </form>
                    <div class="bottom-link">
                        Don't have an account?
                        <a href="/register" id="signup-link">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>